/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --nav_footer-b_color: #2c3e50;
    --hero_about_color: #1abc9c;
    --white_color: #ffffff;
    --footer_top: #3a546d;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.p_b_25 {
    padding-bottom: 25px;
}

.p_b_35 {
    padding-bottom: 35px;
}

.p_b_40 {
    padding-bottom: 40px;
}

.p_b_70 {
    padding-bottom: 70px;
}

.p_l_100 {
    padding-left: 100px;
}

.p_t_25 {
    padding-top: 25px;
}

.p_t_30 {
    padding-top: 30px;
}

.p_t_40 {
    padding-top: 40px;
}

.p_t_45 {
    padding-top: 45px;
}

/*****************************************************
CSS SITE "Bootstrap Freelancer"
*****************************************************/

/*****************************************************
HEADER
*****************************************************/

header {
    background-color: var(--nav_footer-b_color);
    padding: 35px;
}

.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*****************************************************
MAIN
*****************************************************/

/*****************************************************
#HERO
*****************************************************/

#hero {
    background-color: var(--hero_about_color);
}

#hero img {
    width: 350px;
    height: 350px;
}

#hero h1 {
    font-size: 45px;
}

.fa-star {
    font-size: 40px;
}

/*****************************************************
#PORTFOLIO
*****************************************************/

#portfolio h2 {
    color: var(--nav_footer-b_color);
    font-size: 35px;
}

#portfolio .fa-star {
    color: var(--nav_footer-b_color);
}

#portfolio img {
    width: 100%;
    border-radius: 15px;
}

/*****************************************************
#ABOUT
*****************************************************/

#about {
    background-color: var(--hero_about_color);
}

#about h2 {
    font-size: 35px;
}

#about .about_text {
    max-width: 83%;
}

#about button {
    background-color: var(--hero_about_color);
    padding: 10px 18px;
}



