/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --nav_footer-b_color: #2c3e50;
    --hero_about_color: #1abc9c;
    --white_color: #ffffff;
    --footer_top: #3a546d;
}

/*****************************************************
CSS SITE "Bootstrap Freelancer"
*****************************************************/

/*****************************************************
HEADER
*****************************************************/

header {
    background-color: var(--nav_footer-b_color);
    padding: 35px;
}

.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*****************************************************
MAIN
*****************************************************/

/*****************************************************
#HERO
*****************************************************/

#hero {
    background-color: var(--hero_about_color);
}