/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --nav_footer-b_color: #2c3e50;
    --hero_about_color: #1abc9c;
    --white_color: #ffffff;
    --footer_top: #3a546d;
}

/*****************************************************
CSS SITE "Bootstrap Freelancer"
*****************************************************/